

@font-face {
    font-family: 'machina';
    src: url('../Fonts/PPNeueMachina/PPNeueMachina-PlainRegular.otf')
}

@font-face {
    font-family: 'machina_thin';
    src: url(../Fonts/PPNeueMachina/PPNeueMachina-PlainLight.otf);
}

@font-face {
    font-family: 'machina_bold';
    src: url(../fonts/PPNeueMachina/PPNeueMachina-PlainUltrabold.otf);
}