@font-face {
    font-family: 'azeret';
    src: url(../Fonts/AzeretProportionalUprightVF.ttf);
}

@font-face {
    font-family: 'azeret_ita';
    src: url(../Fonts/AzeretProportionalItalicVF.ttf);
}

@font-face {
    font-family: 'machina';
    src: url('../Fonts/PPNeueMachina/PPNeueMachina-PlainRegular.otf')
}