@font-face {
  font-family: "machina";
  src: url("../Fonts/PPNeueMachina/PPNeueMachina-PlainRegular.otf");
}
@font-face {
  font-family: "machina_thin";
  src: url(../Fonts/PPNeueMachina/PPNeueMachina-PlainLight.otf);
}
@font-face {
  font-family: "machina_bold";
  src: url(../fonts/PPNeueMachina/PPNeueMachina-PlainUltrabold.otf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: 400;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 300vh;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  display: none;
}

strong {
  font-family: "machina_bold";
}

h1 {
  font-size: 44px;
}

h2 {
  font-size: 33px;
}

p {
  font-size: 22px;
}

.magnet {
  display: inline-block;
  text-decoration: none;
}

.nav {
  min-height: 90px;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  justify-content: space-between;
  align-items: center;
  padding-left: 3vw;
  padding-right: 3vw;
  font-family: "machina";
  font-size: 18px;
  color: #F5F9F9;
  z-index: 2;
}
.nav * {
  letter-spacing: -1px;
}
.nav .brand a {
  display: flex;
  gap: 6px;
  text-decoration: none;
  color: #F5F9F9;
  transition: color 0.16s ease-out;
}
.nav .brand a .char_c {
  transition: all 0.35s ease-out;
}
.nav .brand a .point {
  transition: all 0.16s ease-out;
  position: absolute;
  left: 50%;
  bottom: -18px;
  transform: translateX(-50%);
  height: 0px;
  width: 0px;
  border-radius: 50%;
  background-color: #F5F9F9;
}
.nav .brand a:hover .char_c {
  transform: rotate(360deg);
}
.nav .brand a:hover .point {
  height: 8px;
  width: 8px;
}
.nav .navbar {
  display: flex;
  flex-direction: row;
  gap: 3vw;
}
.nav .navbar .nav_item {
  position: relative;
}
.nav .navbar .nav_item a {
  text-decoration: none;
  color: #F5F9F9;
  transition: all 0.16s ease-out;
  margin-bottom: 0px;
}
.nav .navbar .nav_item .point {
  transition: all 0.16s ease-out;
  position: absolute;
  left: 50%;
  bottom: -18px;
  transform: translateX(-50%);
  height: 0px;
  width: 0px;
  border-radius: 50%;
  background-color: #F5F9F9;
}
.nav .navbar .nav_item:hover .point {
  height: 8px;
  width: 8px;
}
@media only screen and (max-width: 769px) {
  .nav .navbar {
    display: none;
  }
}

.hero_container {
  overflow: hidden;
  height: 100vh;
  max-height: 100vh;
  position: relative;
}
.hero_container .row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 7%;
  align-items: flex-end;
  padding-right: 10vw;
}
.hero_container .row .location {
  background-color: #181C1F;
  min-width: 250px;
  height: 100px;
  display: flex;
  border-radius: 0 50px 50px 0;
  align-items: center;
  justify-content: space-between;
  padding-right: 1%;
  padding-left: 2.5%;
  margin-bottom: 40px;
}
.hero_container .row .location p {
  font-family: "machina";
  color: #F5F9F9;
}
.hero_container .row .location .globe_container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #999D9E;
  position: relative;
  aspect-ratio: 1/1;
  border-radius: 50%;
  height: 75%;
  cursor: pointer;
}
@media only screen and (max-width: 769px) {
  .hero_container .row .location {
    padding-right: 2%;
  }
}
@media only screen and (max-width: 769px) {
  .hero_container .row {
    margin-top: 50%;
    transform: translateY(-50%);
  }
}
@media only screen and (max-width: 706px) {
  .hero_container .row {
    position: absolute;
    bottom: 20%;
    right: 0;
    align-items: start;
    justify-content: start;
    flex-direction: row;
    padding-left: 22px;
  }
  .hero_container .row svg {
    display: none;
  }
  .hero_container .row .location {
    display: none;
  }
}
@media only screen and (max-width: 426px) {
  .hero_container .row {
    bottom: 0;
  }
}
.hero_container .globe {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50%;
  height: 50%;
  transform: translate(-50%, -50%);
  transform-origin: center;
  border-radius: 50%;
  overflow: hidden;
  will-change: transform;
}
.hero_container .globe_wrap {
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  position: absolute;
  display: block;
  border-radius: 50%;
  transform: translate(-50%, -50%) rotate(30deg);
  animation: globe 5.4s cubic-bezier(0.35, 0, 0.65, 1) infinite;
  overflow: hidden;
  border: 2px #F5F9F9 solid;
}
.hero_container .globe .circle {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  box-shadow: inset 0.1em 0px 0px 0.08em #F5F9F9;
  animation: circle1 2.7s linear infinite;
  font-size: 0.75em;
}
.hero_container .globe :nth-child(1) {
  animation-delay: -1.8s;
}
.hero_container .globe :nth-child(2) {
  animation-delay: -0.9s;
}
.hero_container .globe .circle-hor {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 150%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  height: 55%;
  box-shadow: inset 0px 0px 0px 0.15em #F5F9F9;
  font-size: 0.75em;
}
.hero_container .globe .circle-hor-middle {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 150%;
  transform: translate(-50%, -50%);
  border-radius: 0%;
  height: 0.15em;
  background: #F5F9F9;
  font-size: 0.75em;
}
@media screen and (max-width: 1000px) {
  .hero_container .digital-ball {
    transform: translate(-20%, -50%);
  }
}

.header_right {
  display: flex;
  flex-direction: column;
}
.header_right svg {
  height: 35px;
  width: 35px;
  margin-bottom: 120px;
}
.header_right h2 {
  color: #F5F9F9;
  font-size: 44px;
  font-family: "machina";
  letter-spacing: -2px;
  height: 140px;
}
@media only screen and (max-width: 1025px) {
  .header_right h2 {
    font-size: 33px;
  }
}
@media only screen and (max-width: 426px) {
  .header_right h2 {
    font-size: 33px;
  }
}

.wrapperRollingText {
  white-space: nowrap;
  font-family: "machina";
  font-size: 13vw;
  position: absolute;
  bottom: 0;
  color: #F5F9F9;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
@media only screen and (max-width: 769px) {
  .wrapperRollingText {
    font-size: 20vw;
  }
}
@media only screen and (max-width: 426px) {
  .wrapperRollingText {
    font-size: 30vw;
    top: 60%;
  }
}

.rollingText {
  display: inline-block;
  padding-left: 10px;
}

.limits {
  position: fixed;
  top: 20vh;
  height: 50vh;
  width: 100px;
}

.half {
  position: fixed;
  top: 50vh;
  width: 100px;
}

.line-globe {
  overflow: visible;
  z-index: 5;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  line-height: 130%;
}

section {
  padding-left: 16vw;
  padding-right: 16vw;
  padding-top: 176px;
  padding-bottom: 176px;
  font-family: "machina";
}

.home_about {
  min-height: 85vh;
  gap: 10%;
  display: flex;
}
.home_about .left {
  width: 65%;
}
.home_about .left h2 {
  font-size: 33px;
}
@media only screen and (max-width: 1025px) {
  .home_about .left h2 {
    font-size: 22px;
  }
}
.home_about .right {
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.home_about .right p {
  font-size: 16px;
  text-align: left;
  font-family: "machina_thin";
}
@media only screen and (max-width: 1025px) {
  .home_about .right p {
    font-size: 16px;
  }
}
@media only screen and (max-width: 769px) {
  .home_about .right p {
    font-size: 12px;
    text-align: justify;
  }
}
@media only screen and (max-width: 426px) {
  .home_about {
    flex-direction: column;
  }
  .home_about .left {
    width: 100%;
  }
  .home_about .right {
    margin-top: 22px;
    width: 100%;
  }
  .home_about .right p {
    font-size: 22px;
    margin-bottom: 22px;
  }
}
@media only screen and (max-width: 426px) and (max-width: 426px) {
  .home_about .right p {
    padding-bottom: 88px;
  }
}
@media only screen and (max-width: 1025px) {
  .home_about {
    min-height: 72vh;
  }
}

.home_approche {
  padding-top: 0;
}
.home_approche h3 {
  margin-bottom: 22px;
  font-family: "machina_thin";
  color: #999D9E;
}
.home_approche p {
  line-height: 160%;
}
@media only screen and (max-width: 1025px) {
  .home_approche p {
    font-size: 22px;
  }
}

.home_skills {
  padding-top: 0;
}
.home_skills h3 {
  margin-bottom: 22px;
  font-family: "machina_thin";
  color: #999D9E;
}
.home_skills .skill_grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.home_skills .skill_grid div {
  display: flex;
  flex-direction: column;
}
.home_skills .skill_grid div h4 {
  margin-bottom: 33px;
  font-size: 22px;
}
.home_skills .skill_grid div ul {
  list-style: none;
  font-size: 16px;
  display: flex;
  flex-direction: column;
}
.home_skills .skill_grid div ul li {
  margin-bottom: 11px;
  width: 80%;
  padding-left: 22px;
  position: relative;
}
.home_skills .skill_grid div ul li:after {
  content: "";
  position: absolute;
  height: 11px;
  width: 11px;
  background-color: #181C1F;
  transition: all 0.12s ease-out;
  top: 0;
  left: 0;
  border-radius: 50%;
}
.home_skills .skill_grid div ul li:first-child:after {
  animation-delay: 0.4s;
}
.home_skills .skill_grid div ul li:nth-child(2):after {
  animation-delay: 0.8s;
}
.home_skills .skill_grid div ul li:nth-child(3):after {
  animation-delay: 1.2s;
}
.home_skills .skill_grid div ul li:nth-child(4):after {
  animation-delay: 1.6s;
}
.home_skills .skill_grid div ul li:nth-child(5):after {
  animation-delay: 2s;
}
.home_skills .skill_grid div ul li:nth-child(6):after {
  animation-delay: 2.4s;
}
.home_skills .skill_grid div ul li:nth-child(7):after {
  animation-delay: 2.8s;
}
.home_skills .skill_grid div ul li:hover:after {
  background-color: #455CE8;
}
@media only screen and (max-width: 1025px) {
  .home_skills .skill_grid {
    grid-template-columns: 1fr 1fr;
  }
  .home_skills .skill_grid ul {
    margin-bottom: 88px;
  }
}
@media only screen and (max-width: 426px) {
  .home_skills .skill_grid {
    grid-template-columns: 1fr;
  }
  .home_skills .skill_grid ul {
    margin-bottom: 22px;
  }
}

.home_works {
  padding-top: 0;
}
@media only screen and (max-width: 1025px) {
  .home_works {
    display: none;
  }
}
.home_works h3 {
  margin-bottom: 22px;
  font-family: "machina_thin";
  color: #999D9E;
}
.home_works ul {
  list-style: none;
}
.home_works ul li {
  cursor: pointer;
  display: grid;
  grid-template-columns: 3fr 1fr;
  border-top: 1px #999D9E solid;
  padding: 44px;
}
.home_works ul li h2 {
  font-size: 88px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.home_works ul li p {
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.home_works ul li:last-child {
  border-bottom: 1px #999D9E solid;
}

.side_gallery {
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
}
@media only screen and (max-width: 426px) {
  .side_gallery {
    display: none;
  }
}
.side_gallery .row_item {
  flex-shrink: 0;
  min-width: 21vw;
  background-color: #999D9E;
  aspect-ratio: 1683/1352;
}
.side_gallery .row_1 {
  overflow: hidden;
  margin-bottom: 44px;
  overflow-x: hidden;
}
.side_gallery .row_1 .inner {
  display: flex;
  gap: 4vw;
}
.side_gallery .row_1 .inner .row_item {
  background-size: cover;
  background-position: center center;
}
.side_gallery .row_1 .inner .row_item:first-child {
  background-image: url("../images/projects/1.jpg");
}
.side_gallery .row_1 .inner .row_item:nth-child(2) {
  background-image: url("../images/projects/2.jpg");
}
.side_gallery .row_1 .inner .row_item:nth-child(3) {
  background-image: url("../images/projects/3.jpg");
}
.side_gallery .row_1 .inner .row_item:nth-child(4) {
  background-image: url("../images/projects/4.jpg");
}
.side_gallery .row_1 .inner .row_item:nth-child(5) {
  background-image: url("../images/projects/5.jpg");
}
.side_gallery .row_1 .inner .row_item:nth-child(6) {
  background-image: url("../images/projects/6.jpg");
}
.side_gallery .row_1 .inner .row_item:nth-child(7) {
  background-image: url("../images/projects/7.jpg");
}
.side_gallery .row_1 .inner .row_item:nth-child(8) {
  background-image: url("../images/projects/8.jpg");
}
.side_gallery .row_2 {
  display: flex;
  gap: 4vw;
  overflow: hidden;
  justify-content: flex-end;
  margin-bottom: 44px;
}
.side_gallery .row_2 .inner {
  display: flex;
  gap: 4vw;
  align-self: flex-end;
}
.side_gallery .row_2 .inner .row_item {
  background-size: cover;
  background-position: center center;
}
.side_gallery .row_2 .inner .row_item:first-child {
  background-image: url("../images/projects/3.jpg");
}
.side_gallery .row_2 .inner .row_item:nth-child(2) {
  background-image: url("../images/projects/6.jpg");
}
.side_gallery .row_2 .inner .row_item:nth-child(3) {
  background-image: url("../images/projects/9.jpg");
}
.side_gallery .row_2 .inner .row_item:nth-child(4) {
  background-image: url("../images/projects/2.jpg");
}
.side_gallery .row_2 .inner .row_item:nth-child(5) {
  background-image: url("../images/projects/12.jpg");
}
.side_gallery .row_2 .inner .row_item:nth-child(6) {
  background-image: url("../images/projects/1.jpg");
}
.side_gallery .row_2 .inner .row_item:nth-child(7) {
  background-image: url("../images/projects/7.jpg");
}
.side_gallery .row_2 .inner .row_item:nth-child(8) {
  background-image: url("../images/projects/10.jpg");
}
.side_gallery .row_3 {
  display: flex;
  gap: 4vw;
  overflow: hidden;
  margin-bottom: 44px;
}
.side_gallery .row_3 .inner {
  display: flex;
  gap: 4vw;
}
.side_gallery .row_3 .inner .row_item {
  background-size: cover;
  background-position: center center;
}
.side_gallery .row_3 .inner .row_item:first-child {
  background-image: url("../images/projects/9.jpg");
}
.side_gallery .row_3 .inner .row_item:nth-child(2) {
  background-image: url("../images/projects/10.jpg");
}
.side_gallery .row_3 .inner .row_item:nth-child(3) {
  background-image: url("../images/projects/11.jpg");
}
.side_gallery .row_3 .inner .row_item:nth-child(4) {
  background-image: url("../images/projects/1.jpg");
}
.side_gallery .row_3 .inner .row_item:nth-child(5) {
  background-image: url("../images/projects/13.jpg");
}
.side_gallery .row_3 .inner .row_item:nth-child(6) {
  background-image: url("../images/projects/5.jpg");
}
.side_gallery .row_3 .inner .row_item:nth-child(7) {
  background-image: url("../images/projects/2.jpg");
}
.side_gallery .row_3 .inner .row_item:nth-child(8) {
  background-image: url("../images/projects/1.jpg");
}
@media only screen and (max-width: 1025px) {
  .side_gallery .row_3 {
    display: none;
  }
}

.footer {
  height: 101vh;
  padding-left: 16vw;
  padding-right: 16vw;
  background-color: #181C1F;
  color: #F5F9F9;
  position: relative;
  overflow: hidden;
}
@media only screen and (max-width: 769px) {
  .footer {
    max-height: 80vh;
  }
}
.footer .inner {
  display: flex;
  flex-direction: column;
}
.footer .inner .footer_top {
  font-size: 5.5vw;
  width: 60%;
}
.footer .inner .button_container {
  align-self: flex-end;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  position: relative;
}
.footer .inner .button_container:after {
  height: 1px;
  width: 100%;
  background-color: #999D9E;
  opacity: 0.2;
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 0;
}
@media only screen and (max-width: 1025px) {
  .footer .inner .button_container {
    margin-top: 44px;
  }
}
.footer .inner .footer_bot {
  display: flex;
  flex-direction: row;
  margin-top: 44px;
}
.footer .inner .footer_bot .mail_button,
.footer .inner .footer_bot .phone_button {
  border: 1px #999D9E solid;
  height: 88px;
  min-width: 166px;
  padding: 16px 32px;
  border-radius: 88px;
  margin-right: 44px;
  position: relative;
}
.footer .inner .footer_bot .mail_button p,
.footer .inner .footer_bot .phone_button p {
  font-size: 16px;
}
@media only screen and (max-width: 769px) {
  .footer .inner .footer_bot .mail_button,
  .footer .inner .footer_bot .phone_button {
    margin-right: 11px !important;
    padding: 11px 22px !important;
  }
}
@media only screen and (max-width: 769px) {
  .footer .inner .footer_bot {
    margin-top: 88px;
  }
}
@media only screen and (max-width: 626px) {
  .footer .inner .footer_bot {
    margin-top: 44px;
  }
}
@media only screen and (max-width: 726px) {
  .footer .inner .footer_bot {
    flex-direction: column;
  }
  .footer .inner .footer_bot .mail_button {
    margin-bottom: 44px;
  }
}
.footer .outer_bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  padding-bottom: 22px;
  padding-left: 3vw;
  padding-right: 3vw;
}
.footer .outer_bottom .left,
.footer .outer_bottom .right {
  display: flex;
}
.footer .outer_bottom .left .footer_elem,
.footer .outer_bottom .right .footer_elem {
  display: flex;
  flex-direction: column;
  margin-right: 22px;
  justify-content: space-between;
  padding-top: 11px;
}
.footer .outer_bottom .left .footer_elem:last-child,
.footer .outer_bottom .right .footer_elem:last-child {
  margin-right: 0;
}
.footer .outer_bottom .left .footer_elem h5,
.footer .outer_bottom .right .footer_elem h5 {
  font-size: 11px;
  color: #999D9E;
  text-transform: uppercase;
  font-family: "machina_bold";
  opacity: 0.5;
}
.footer .outer_bottom .left .footer_elem p,
.footer .outer_bottom .right .footer_elem p {
  font-family: "machina_thin";
  justify-self: flex-end;
  align-self: flex-end;
  font-size: 16px;
}
.footer .outer_bottom .left .footer_elem ul,
.footer .outer_bottom .right .footer_elem ul {
  list-style: none;
  display: flex;
}
.footer .outer_bottom .left .footer_elem ul li,
.footer .outer_bottom .right .footer_elem ul li {
  margin-right: 22px;
}
.footer .outer_bottom .left .footer_elem ul li a,
.footer .outer_bottom .right .footer_elem ul li a {
  color: #999D9E;
  text-decoration: none;
}
.footer .outer_bottom .left .footer_elem ul li a:hover,
.footer .outer_bottom .right .footer_elem ul li a:hover {
  color: #455CE8;
}
@media only screen and (max-width: 625px) {
  .footer .outer_bottom {
    flex-direction: column;
  }
  .footer .outer_bottom .left,
  .footer .outer_bottom .right {
    width: 100%;
    justify-content: space-between;
    padding-left: 88px;
    padding-right: 88px;
  }
  .footer .outer_bottom .left {
    margin-bottom: 22px;
  }
}
@media only screen and (max-width: 500px) {
  .footer .outer_bottom .left,
  .footer .outer_bottom .right {
    padding-left: 44px;
    padding-right: 44px;
  }
  .footer .outer_bottom .left {
    margin-bottom: 22px;
  }
}
@media only screen and (max-width: 420px) {
  .footer .outer_bottom .left,
  .footer .outer_bottom .right {
    padding-left: 22px;
    padding-right: 22px;
  }
}
@media only screen and (max-width: 1025px) {
  .footer {
    height: 94vh;
    padding-top: 88px;
  }
}

.about_button {
  height: 188px;
  width: 188px;
  background-color: #181C1F;
  position: relative;
}
.about_button div {
  color: #F5F9F9;
}
@media only screen and (max-width: 1025px) {
  .about_button {
    height: 140px;
    width: 140px;
  }
}

.effect_button {
  overflow: hidden;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.effect_button .ico {
  width: 25%;
  height: 10%;
  display: flex;
  flex-direction: column;
  align-items: space-between;
  justify-content: space-between;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  pointer-events: none;
  z-index: 9999;
}
.effect_button .ico div {
  height: 1.5px;
  width: 100%;
  background-color: #999D9E;
}
.effect_button .text.ico {
  width: -moz-fit-content;
  width: fit-content;
}
.effect_button .effect_button_inside {
  background-color: #455CE8;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  position: absolute;
  top: 100%;
  pointer-events: none;
}

.more_works_button {
  border: 1px #181C1F solid;
  position: relative;
  border-radius: 44px;
  margin: auto;
  margin-top: 44px;
  height: 88px;
  width: 254px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: border 0.6s ease-out;
}
.more_works_button .ico {
  color: #181C1F;
  display: block;
  width: -moz-fit-content;
  width: fit-content;
  transition: color 0.6s ease-out;
  margin-top: -11px;
}
.more_works_button .ico span {
  font-size: 11px;
  vertical-align: super;
  color: #999D9E;
}
.more_works_button .effect_button_inside {
  border-radius: 44px;
}
.more_works_button:hover {
  border: 1px #455CE8 solid;
}
.more_works_button:hover .ico {
  color: #F5F9F9;
}

.nav_toggle {
  height: 0px;
  width: 0px;
  background-color: #181C1F;
  position: fixed;
  top: 30px;
  right: 30px;
  z-index: 999;
  transition: all 0.2s ease-out;
  transform-origin: center;
  border: 1px #999D9E solid;
}

.displayed {
  height: 88px;
  width: 88px;
}

.gallery_viewer {
  height: 0px;
  width: 0px;
  background-color: black;
  position: absolute;
  background-position: center center;
  background-size: cover;
  z-index: 999999;
}
@media only screen and (max-width: 426px) {
  .gallery_viewer {
    display: none;
  }
}

.mail_button,
.phone_button {
  text-decoration: none;
  color: #F5F9F9;
}
.mail_button .ico,
.phone_button .ico {
  height: auto;
}
.mail_button .effect_button_inside,
.phone_button .effect_button_inside {
  height: 88px;
  min-width: 166px;
  padding: 22px 44px;
  border-radius: 88px;
}

.button_contact_footer {
  z-index: 2;
  height: 188px;
  width: 188px;
  background-color: #455CE8 !important;
  position: relative;
  margin-right: 10vw;
}
.button_contact_footer div {
  color: #F5F9F9;
}
.button_contact_footer .effect_button_inside {
  background-color: #F5F9F9;
}
.button_contact_footer:hover p {
  transition: color 1s ease-in;
  color: #455CE8;
}
@media only screen and (max-width: 1025px) {
  .button_contact_footer {
    height: 140px;
    width: 140px;
    margin-right: 6vw;
  }
  .button_contact_footer p {
    font-size: 16px;
  }
}

/* -------------------------------------------------------------------------- */
/*                                  Keyframes                                 */
/* -------------------------------------------------------------------------- */
@keyframes digitalball {
  0% {
    background: var(--color-blue);
  }
  50% {
    background: #ff4444;
  }
  100% {
    background: var(--color-blue);
  }
}
@keyframes globeBounce {
  0% {
    transform: translate(-50%, -40%);
  }
  50% {
    transform: translate(-50%, -60%);
  }
  100% {
    transform: translate(-50%, -40%);
  }
}
@keyframes globe {
  0% {
    transform: translate(-50%, -50%) rotate(15deg);
  }
  50% {
    transform: translate(-50%, -50%) rotate(-15deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(15deg);
  }
}
@keyframes rotate_globe {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes circle1 {
  0% {
    border-radius: 50%;
    box-shadow: inset 0.1em 0px 0px 0.08em #F5F9F9;
    width: 100%;
  }
  49% {
    border-radius: 50%;
    box-shadow: inset 0.1em 0px 0px 0.08em #F5F9F9;
    background: transparent;
  }
  50% {
    border-radius: 0%;
    width: 0.175em;
    background: #F5F9F9;
  }
  51% {
    border-radius: 50%;
    box-shadow: inset -0.1em 0px 0px 0.08em #F5F9F9;
    background: transparent;
  }
  100% {
    border-radius: 50%;
    box-shadow: inset -0.1em 0px 0px 0.08em #F5F9F9;
    width: 100%;
  }
}
@keyframes dot_color {
  0% {
    background-color: #181C1F;
  }
  50% {
    background-color: #455CE8;
  }
  100% {
    background-color: #181C1F;
  }
}
@keyframes dash {
  from {
    stroke-dashoffset: 4000;
  }
  to {
    stroke-dashoffset: 0;
  }
}
/* --------------------------------- Topo 1 --------------------------------- */
svg#topographic {
  position: absolute;
  width: 100vw;
  height: 166vh;
  z-index: -1;
  background-color: #999D9E;
  pointer-events: none;
}
@media only screen and (max-width: 769px) {
  svg#topographic {
    width: 150vw;
  }
}
@media only screen and (max-width: 426px) {
  svg#topographic {
    width: 200vw;
    margin-left: -15vw;
  }
}
svg#topographic path {
  fill: #999D9E;
  stroke-width: 1;
  stroke-miterlimit: 0;
  stroke: #b3b6b7;
  stroke-dasharray: 500;
  stroke-dashoffset: 1000;
  animation: dash 15s linear forwards infinite;
}
@media only screen and (max-width: 769px) {
  svg#topographic path {
    stroke-width: 2;
  }
}
svg#topographic path {
  fill: #999D9E;
}

/* --------------------------------- Topo 2 --------------------------------- */
.line_container {
  height: 25vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}
@media only screen and (max-width: 769px) {
  .line_container {
    height: 14vh;
  }
}

svg#topographic_2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 160vh;
  margin-top: -50vh;
}
@media only screen and (max-width: 769px) {
  svg#topographic_2 {
    width: 150vw;
  }
}
svg#topographic_2 path {
  fill: #181C1F;
  stroke-width: 1;
  stroke-miterlimit: 0;
  stroke: #F5F9F9;
  opacity: 0.25;
  stroke-dasharray: 500;
  stroke-dashoffset: 1000;
  animation: dash 10s linear alternate infinite;
}
@media only screen and (max-width: 769px) {
  svg#topographic_2 path {
    stroke-width: 2;
  }
}

/* ---------------------------------- ABOUT --------------------------------- */
.body_about nav {
  color: #181C1F;
}
.body_about nav .navbar .nav_item a {
  color: #181C1F;
}
.body_about nav .navbar .nav_item .point {
  background-color: #181C1F;
}
.body_about nav .brand a {
  color: #181C1F;
}
.body_about h1 {
  margin-top: 14vh;
  font-size: 5vw;
}
.body_about .button_container {
  align-self: flex-end;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  position: relative;
}
.body_about .button_container:after {
  height: 1px;
  width: 100%;
  background-color: #999D9E;
  opacity: 0.4;
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 0;
}
@media only screen and (max-width: 1025px) {
  .body_about .button_container {
    margin-top: 44px;
  }
}
.body_about .about_1 {
  display: flex;
  flex-direction: row;
  min-height: 110vh;
}
.body_about .about_1 .left {
  width: 30%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.body_about .about_1 .right {
  width: 70%;
}
.body_about .about_1 .right img {
  width: 100%;
}
@media only screen and (max-width: 769px) {
  .body_about .about_1 {
    flex-direction: column;
  }
  .body_about .about_1 .left {
    width: 100%;
    margin-bottom: 88px;
  }
  .body_about .about_1 .right {
    width: 100%;
  }
}
@media only screen and (max-width: 426px) {
  .body_about .about_1 {
    min-height: 80vh;
  }
}

.home_services {
  padding-top: 0;
  padding-left: 8vw;
  padding-right: 8vw;
}
.home_services .num {
  color: #999D9E;
}
.home_services .line {
  background-color: #999D9E;
  height: 1px;
  width: 80%;
  margin-top: 22px;
  margin-bottom: 22px;
  opacity: 0.4;
}
.home_services h3 {
  font-size: 44px;
  margin-bottom: 22px;
  font-family: "machina";
  color: #999D9E;
}
.home_services .services_grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.home_services .services_grid h4 {
  margin-bottom: 22px;
  font-size: 33px;
  display: flex;
  align-items: center;
  gap: 22px;
}
.home_services .services_grid h4 svg {
  fill: #181C1F;
}
.home_services .services_grid p {
  font-size: 18px;
  width: 80%;
  font-family: "machina";
}
@media only screen and (max-width: 769px) {
  .home_services .services_grid {
    grid-template-columns: 1fr;
  }
  .home_services .services_grid > div {
    margin-top: 88px;
  }
  .home_services .services_grid > div p {
    width: 100%;
  }
}

.about_process {
  padding-top: 0;
}
.about_process h3 {
  margin-bottom: 22px;
  font-family: "machina_thin";
  color: #999D9E;
}
.about_process .process_item {
  display: grid;
  grid-template-columns: 1fr 8fr 18fr;
  margin-bottom: 88px;
  position: relative;
}
.about_process .process_item:first-child {
  margin-top: 88px;
}
.about_process .process_item:after {
  width: 80%;
  content: "";
  background-color: #999D9E;
  height: 1px;
  position: absolute;
  bottom: -44px;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0.3;
}
.about_process .process_item .point {
  color: #999D9E;
  font-size: 16px;
}
.about_process .process_item .process_title {
  color: #999D9E;
  font-size: 22px;
  width: 80%;
}
.about_process .process_item .process_desc {
  font-size: 22px;
}
@media only screen and (max-width: 1025px) {
  .about_process .process_item {
    grid-template-columns: 1fr;
  }
  .about_process .process_item .point,
  .about_process .process_item .process_title,
  .about_process .process_item .process_desc {
    margin-bottom: 22px;
  }
}

/* --------------------------------- CONTACT -------------------------------- */
.body_contact {
  background-color: #181C1F;
  color: #F5F9F9;
}
.body_contact nav {
  color: #F5F9F9;
}
.body_contact nav .navbar .nav_item a {
  color: #F5F9F9;
}
.body_contact nav .navbar .nav_item .point {
  background-color: #F5F9F9;
}
.body_contact nav .brand a {
  color: #F5F9F9;
}
.body_contact .contact_main {
  display: flex;
}
.body_contact .contact_main .left {
  width: 80%;
}
.body_contact .contact_main .left .form_item {
  display: grid;
  grid-template-columns: 1fr 12fr;
  position: relative;
  width: 85%;
  margin-bottom: 44px;
}
.body_contact .contact_main .left .form_item:after {
  position: absolute;
  content: "";
  height: 1px;
  width: 100%;
  background-color: #999D9E;
  bottom: 0;
  opacity: 0.3;
  left: 50%;
  transform: translateX(-50%);
}
.body_contact .contact_main .left .form_item:nth-child(4):after {
  background-color: #181C1F;
}
.body_contact .contact_main .left .form_item .number {
  font-size: 16px;
  color: #999D9E;
  padding-top: 5px;
}
.body_contact .contact_main .left .form_item .int {
  display: flex;
  flex-direction: column;
}
.body_contact .contact_main .left .form_item .int label {
  font-size: 22px;
  margin-bottom: 22px;
}
.body_contact .contact_main .left .form_item .int input,
.body_contact .contact_main .left .form_item .int textarea {
  background-color: #181C1F;
  border: none;
  height: 44px;
  resize: none;
  caret-color: #F5F9F9;
  font-size: 22px;
  color: #F5F9F9;
  font-family: "machina";
  margin-bottom: 44px;
}
.body_contact .contact_main .left .form_item .int input::-moz-placeholder, .body_contact .contact_main .left .form_item .int textarea::-moz-placeholder {
  font-size: 22px;
  font-family: "machina";
}
.body_contact .contact_main .left .form_item .int input::placeholder,
.body_contact .contact_main .left .form_item .int textarea::placeholder {
  font-size: 22px;
  font-family: "machina";
}
.body_contact .contact_main .left .form_item .int input:focus,
.body_contact .contact_main .left .form_item .int textarea:focus {
  outline: none;
}
.body_contact .contact_main .left button {
  background-color: #181C1F !important;
  width: 85%;
  border: none;
}
.body_contact .contact_main .left .button_container {
  background: #181C1F !important;
}
.body_contact .contact_main .right {
  width: 20%;
  display: flex;
  flex-direction: column;
}
.body_contact .contact_main .right svg {
  width: 44px;
  height: 44px;
}
.body_contact .contact_main .right div {
  display: flex;
  flex-direction: column;
  margin-top: 88px;
  margin-bottom: 88px;
}
.body_contact .contact_main .right div h4 {
  font-size: 22px;
  color: #999D9E;
}
.body_contact .contact_main .right div p,
.body_contact .contact_main .right div a {
  font-size: 16px;
  margin-top: 44px;
  color: #F5F9F9;
  text-decoration: none;
}
.body_contact .contact_main .right div a:hover {
  color: #455CE8;
}
@media only screen and (max-width: 1025px) {
  .body_contact .contact_main {
    flex-direction: column-reverse;
    padding-top: 44px;
  }
  .body_contact .contact_main .left,
  .body_contact .contact_main .right {
    width: 100%;
  }
  .body_contact .contact_main .right {
    padding-bottom: 88px;
  }
  .body_contact .contact_main .right svg {
    display: none;
  }
  .body_contact .contact_main .right div {
    margin-top: 22px;
    margin-bottom: 22px;
  }
  .body_contact .contact_main .right div a {
    margin-top: 22px;
  }
}
.body_contact .footer {
  padding-top: 0;
  padding-bottom: 0;
  max-height: 10vh;
}
@media only screen and (max-width: 426px) {
  .body_contact a,
  .body_contact p {
    font-size: 16px !important;
  }
  .body_contact section {
    padding-left: 4vw !important;
    padding-right: 4vw !important;
  }
  .body_contact .contact_main .left .form_item {
    width: 100%;
    grid-template-columns: 1fr;
  }
  .body_contact .contact_main .left .form_item .number {
    margin-bottom: 22px;
  }
  .body_contact .contact_main .left button {
    width: 100%;
  }
}/*# sourceMappingURL=main.css.map */